@import '../../../styles/_variables'

.mainContainer
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: center
      width: 100%
      height: auto
      color: #fff
      margin-top: 30px
      background: red


.containerIcons
      display: flex
      flex: none
      justify-content: center
      align-items: center
      width: 85%
      height: auto
      z-index: 10
      margin-top: 10px
      padding: 0
      position: relative
      padding: 5px
      ul
            display: flex
            justify-content: flex-start
            flex-wrap: wrap
            align-items: center
            width: 100%
            height: 80%
            gap: 20px
            li
                  list-style: none

.Title
      display: flex
      justify-content: center
      align-items: center
      font-size: 2.2rem
      width: auto
      white-space: nowrap
      margin: 30px 0px 0px 0px
      z-index: 5
      text-align: left
