@import '../../../styles/_variables'
@import '../../../styles/_typography'
@import '../../../styles/_animation'

@include animateFade($animationName: fadeRight, $from: -100%, $to: 0%, $opacityFrom: 0, $opacityTo: 1)
@include animateFade($animationName: fadeLeft, $from: 100%, $to: 0%, $opacityFrom: 0, $opacityTo: 1)
@include animateFade($animationName: fadeBackground, $from: 0%, $to: 0%, $opacityFrom: 0, $opacityTo: 0.9)

.containerMain
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100vh
    color: #fff
    position: relative
    overflow: hidden
    font-family: var(--font-loft)
    &::after
        content: ""
        width: 130%
        height: 100%
        background-image: url("/images/background1.png")
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        position: absolute
        mix-blend-mode: screen
        opacity: 0.1
        z-index: -1
        padding: 0
    &::before
        content: ""
        background-image: url("/images/background.jpg")
        opacity: 0.9
        width: 100%
        height: 100%
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        position: absolute
        animation: fadeBackground 1s ease-in-out forwards
        z-index: -2
        padding: 0

.textshadow
    text-shadow: 2px 2px 4px rgba(0,0 ,0 , 0.5 )

.containerRight
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    width: 100%
    height: 100%
    position: relative

.containerText
    display: flex
    flex-direction: column
    justify-content: center
    color: #fff
    width: 50%
    height: 100%
    position: relative

.containerPhoto
    margin: 0
    height: 100%
    img
        height: 100%
        left: 0
        position: absolute
        mix-blend-mode: exclusion

.containerMainText
    display: flex
    flex-direction: column
    width: auto
    padding-top: 5%
    @extend .textshadow
    font-family: var(--font-bebas)
    div
        position: relative
        width: 100%
    h1
        font-size: 12.5rem
        font-weight: normal
        color: $cyan
        flex-grow: 1
        margin: 0
        padding: 0
    h3
        font-size: 5.5rem
        white-space: nowrap
        font-family: var(--font-loft)
        color: white
        letter-spacing: -10px
        margin: 0px 0px -65px 0px
    h2
        color: white
        font-size: 7.5rem
        position: absolute
        white-space: nowrap
        right: 0
        bottom: -22%
        margin: 0

.containerLinkSocial
    display: flex
    width: 100%
    height: 140px
    position: relative
    span
        display: flex
        position: absolute
        right: 0
        bottom: 0
        a
            text-decoration: none
            color: #fff
.containerName
    display: flex
    flex-direction: column
    width: auto
    position: absolute
    margin: 0
    bottom: 2%
    left: -2%
    p:nth-child(1)
        font-family: var(--font-bebas)
        font-size: 4.9rem
        margin: 0px 0px -35px 3px
    p:nth-child(2)
        font-family: var(--font-loft)
        font-size: 5rem
        color: $cyan
        margin: 0
    p:nth-child(3)
        font-family: var(--font-loft)
        font-size: 3rem
        opacity: 0.2
        margin: -20px 0px 0px 3px
        letter-spacing: 19px
.containerPortfolio
    display: flex
    justify-content: flex-end
    align-items: center
    width: 100%
    height: auto
    margin-bottom: 15%
    figure
        display: flex
        justify-content: center
        align-items: center
        flex: none
        border: none
        width: 110px
        height: 110px
        background: $cyan
        border-radius: 100%
        position: relative
        margin-right: 20%
        a
            width: 100%
            height: 100%
        &::before
            content: ''
            display: flex
            justify-content: center
            align-items: center
            background: $dark-gray-2
            position: absolute
            width: 0%
            height: 90%
            z-index: -1
        img
            height: 65%
            width: 60%
            position: absolute
            inset: 0
            bottom: 15%
            margin: auto
            filter: invert(100%) drop-shadow(5px 5px 0px rgba(0,0 ,0 , 0.5))
        &:hover
            &::before
                content: "download \A CV"
                white-space: pre-wrap
                font-size: 1.3rem
                text-align: center
                display: flex
                width: 160%
                height: 90%
                left: 70%
                border-radius: 0px 45px 45px 0px
                padding-left: 20px
                z-index: -1
                transition: .5s ease-in-out

@media screen and ( max-width: 780px )
    .containerMainText
        justify-content: center
        position: absolute
        right: 10%
        top: 10%
        h1
            font-size: 7.5rem
        h2
            font-size: 4.5rem
            margin: 0px 0px -5px 0px
        h3
            font-size: 2.5rem
            letter-spacing: 2px
            margin: 0px 0px -30px 0px
    .containerPortfolio
        height: auto
        width: 100%
        align-items: flex-end
        flex-direction: column
    .containerLinkSocial
        height: 100px
        margin-left: 10px
        span
            width: 69%
            justify-content: space-evenly
            svg
                width: 45px
                margin-left: 2px
    .containerRight
        height: 90%
        width: 100%
        justify-content: flex-end
        position: relative
    .containerPhoto
        opacity: .5
        height: 100%
        mix-blend-mode: exclusion
        img
            left: -100%
            position: absolute
    .containerText
        position: relative
        width: 30%
    .containerName
        align-items: flex-end
        padding: 10px
        width: 90%
        position: relative
        p:nth-child(1)
            font-family: var(--font-bebas)
            font-size: 2.9rem
            text-align: right
            margin: 0px 163px -20px 3px
        p:nth-child(2)
            font-family: var(--font-loft)
            font-size: 3rem
            color: $cyan
            margin: 0
        p:nth-child(3)
            font-family: var(--font-loft)
            font-size: 1.5rem
            opacity: 0.2
            margin: -10px -9px 0px 0px
            letter-spacing: 15px
@media screen and ( max-width: 500px )
    .containerPhoto
        opacity: .5
        height: 100%
        mix-blend-mode: exclusion
        img
            left: -300px
            position: absolute
