@import '../../../../styles/_variables'
@import '../../../../styles/_animation'

@include animateFade($animationName: fadeRight, $from: -100%, $to: 0%, $opacityFrom: 0, $opacityTo: 1)

.subContainer
      display: flex
      justify-content: center
      align-items: center
      flex: none
      width: 100%
      height: auto
      position: relative

.list
      margin: 0

.input
      display: none
      &:checked
            + label
                  background: $dark-blue

.icon
      display: flex
      justify-content: center
      text-align: center
      align-items: center
      background: $dark-blue
      width: 120px
      height: 50px
      border-radius: 5px
      cursor: pointer
      position: relative
      padding: 5px 10px
      &::after
            content: ""
            width: 85%
            height: 75%
            background: none
            border: 2px solid $cyan
            border-radius: 5px
            position: absolute
            inset: 0
            margin: auto
      figure
            display: flex
            margin: 3px
            img
                  width: 30px


.textIcon
      display: flex
      align-items: center
      justify-content: center
      color: $cyan
      font-size: .87rem
      width: 100%
      height: 80%
      margin: 5px








