@import '../../../styles/_variables'
.containerMenu
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: auto
    background: transparent
    color: #fff
    position: fixed
    top: 0
    z-index: 20
    font-family: var(--font-bebas)
    font-size: 2rem

.containerImg
    height: 50px
    z-index: 5
    img
        height: 100%

.containerNav
    display: flex
    width: 100%
    height: auto
    justify-content: flex-end
    z-index: 10
    margin: 0
.ul
    display: flex
    justify-content: center
    width: 70%
    height: auto
    list-style: none
    padding: 0
    gap: 5%

.li
    position: relative
    a
        text-decoration: none
        color: #fff
        filter: drop-shadow(0px 0px 0px #000)
        &:hover
            content: ''
            filter: drop-shadow(0px 0px 4px $cyan)

            transition: 0.3s ease-in

.activePath
    @extend .li
    a
        text-decoration: none
        color: #fff
        filter: drop-shadow(0px 0px 4px $cyan)
   
@media screen and ( max-width: 630px )
    .containerMenu
        justify-content: center
        align-items: center
        flex-direction: column
    .containerNav
        margin: 0
