@import '../../../../styles/_variables'
@import '../../../../styles/_animation'

@include animateFade($animationName: fadeRight, $from: -100%, $to: 0%, $opacityFrom: 0, $opacityTo: 1)
@include animateFade($animationName: fadeLeft, $from: 100%, $to: 0%, $opacityFrom: 0, $opacityTo: 1)
@include animateFade($animationName: buttonFade, $from: 0%, $to: 0%, $opacityFrom: 0, $opacityTo: 1)
@include animateFade($animationName: bgFade, $from: 0%, $to: 0%, $opacityFrom: 0, $opacityTo: 0.3)
@include borderAnimateHeight($animationName: borderHeight, $heightFrom: 0%, $heightTo: 100%)

.mainContainer
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: center
      width: 100%
      height: 100%
      color: #fff
      background: #000
      padding-top: 65px
      position: relative
      &::after
            content: ""
            width: 100%
            height: 100%
            background: linear-gradient(to bottom, transparent 50%, #000)
            background-size: 100% 100%
            position: absolute
            z-index: 1
      &::before
            content: ""
            width: 100%
            height: 100%
            background-image: url("/images/backgroundWork.png")
            opacity: 0.4
            background-position: center
            background-size: 100% 100%
            background-repeat: no-repeat
            animation: bgFade 2s ease-in-out forwards
            position: absolute
            z-index: 1

.subContainer
      display: flex
      justify-content: center
      align-items: flex-start
      flex: none
      width: 100%
      height: auto
      position: relative
      &::after
            content: ""
            width: 100%
            height: 100%
            background: linear-gradient(to top, transparent 50%, #000000)
            background-size: 100% 100%
            position: absolute
            z-index: 1
            top: -10%

.containerImg
      width: 20%
      height: 250px
      z-index: 2
      img
            margin-left: -50px
            height: 100%
            filter: invert(100%)

.containerText
      display: flex
      justify-content: flex-start
      align-items: center
      width: 70%
      height: 90%
      z-index: 2
      margin-top: 40px
      position: relative
      &::before
            content: ''
            width: 5px
            height: 0%
            background: #fff
            top: 0
            left: 0
            margin: auto
            position: absolute
            animation: borderHeight 2s ease-in-out forwards
            animation-delay: 2.4s
      div
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: flex-start
            margin: 0
            width: 100%
            height: 98%
            padding: 20px

.containerTitle
      display: flex
      align-items: center
      justify-content: flex-start
      width: 100%
      height: 40px
      margin-top: 15px
      animation: fadeRight 2s ease-in-out forwards
      z-index: 2
      h1
            font-size: 2.8rem
            width: auto
            height: 70px
            position: relative
            &::before
                  content: ""
                  width: 40%
                  height: 4px
                  background: #fff
                  position: absolute
                  z-index: 1
                  bottom: 0

.containerCourse
      div
            margin-top: 5px
            width: 80%
            position: relative
      ul
            margin: 2px
            white-space: nowrap
      li
            margin: 0
            padding: 0

.floatYear
      position: absolute
      left: -80px
      top: 25px
      bottom: 0
      margin: auto

.subTitle
      display: flex
      font-size: 1.5rem
      width: auto
      white-space: nowrap
      margin: 0
      position: relative
      animation: fadeLeft 2s ease-in-out forwards
      &::before
            content: ""
            border-radius: 100%
            width: 20px
            height: 20px
            position: absolute
            background: $dark-blue-3
            margin: auto
            top: 0
            bottom: 0
            left: -48px

.subText
      position: relative
      width: 100%
      padding: 5px
      margin: 2px 15px 0px
      font-size: 1rem
      animation: fadeLeft 2.5s ease-in-out forwards

.text
      position: relative
      width: auto
      padding: 5px
      margin: 2px 5px 0px 0px
      font-size: 0.8rem
      animation: fadeLeft 2.3s ease-in-out forwards

@media screen and ( max-width: 800px )
      .mainContainer
            height: auto
      .containerTitle
            white-space: nowrap
            justify-content: center
            padding: 0
            margin: 0
            h1
                  font-size: 2.3rem
      .containerText
            width: 90%
      .containerCourse
            div
                  display: flex
                  width: auto
            ul
                  white-space: break-spaces
                  flex-wrap: wrap
      .subTitle
            white-space: break-spaces
