
@mixin animateFade($animationName, $from, $to, $opacityFrom, $opacityTo)
    @keyframes #{$animationName}
        0%
            transform: translateX($from)
            opacity: $opacityFrom

        100%
            transform: translateX($to)
            opacity: $opacityTo

@mixin borderAnimate($animationName, $widthFrom, $widthTo)
    @keyframes #{$animationName}
        0%
            width: $widthFrom

        100%
            width: $widthTo
@mixin borderAnimateHeight($animationName, $heightFrom, $heightTo)
    @keyframes #{$animationName}
        0%
            transform: scaleY(0)

        100%
            transform: scaleY(1)
@mixin gradientBg($nameAnimation)
    @keyframes #{$nameAnimation}
        0%
            background-position: 0% 50%
        50%
            background-position: 100% 50%
        100%
            background-position: 0% 50%

@mixin animation-fade($name, $duration)
    animation: $name $duration ease-in-out forwards
